.container-footer {
    padding-top: 5rem;
    font-size: 50px;
}

.footer-text-win {
    opacity: 0.5;
    color: #03fa7e;
}

.footer-text-win:hover {
    opacity: 0.5;
    color: #fff;
}

.footer-text-lose {
    opacity: 0.5;
    color: #ff0000;
}

.footer-text-lose:hover {
    opacity: 0.5;
    color: #fff;
}