@import 'header';
@import 'footer';

* {
    font-family: "Press Start 2P", cursive;
}

body {
    background-image: url("../image/game.jpg");
    background-size: 100%;
    min-height: 100vh;
}

.container-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $background-color3;
}

.main-link {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color2;  
    font-size: 15pt;
    text-shadow: 2px 2px 5px $text-color;
}
