@import 'header';
@import 'footer';

* {
    font-family: "Press Start 2P", cursive;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../image/a.png");
    background-size: 100%;
    min-height: 100vh;
    background-color: $text-color;
}

.container-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.main-link {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color2;  
    font-size: 15pt;
    text-shadow: 2px 2px 5px $text-color;
}

a:hover {
    opacity: 0.5;
}
